node_modules/
.DS_Store
*.log
scratch/
scratch_ref.html
scratch_work.html
transform.js
finalfix.js
fix_about_para.js
update_cards.js
build_work_html.js
link_work.js
fix_all_routes.js
fix_card_images.js
verify_and_tune_card_css.js
add_resume_sections.js
remove_work_redirects.js
check_hrefs.js
download_assets.js
find_yash.js
verify.js

.vercel
